/* General */

:root {
  --space: 1.5rem;
}

.mobile-layout {
  height: 896px;
  width: 414px;
  border: 2px solid black;
}

.color-overlay {
    background: no-repeat url(./votehand.png);
    background-color:hsl(0, 100%, 50%);
    background-blend-mode:multiply;
    background-position: center bottom;
    background-size: 100%;
    height: inherit;
    width: inherit;
    z-index: -100;
}

.item {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    border: 1px #adadad solid; 
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;
}
/* Layout Primitives */

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 60ch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/* util styles */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    width: 100%;
}

.top {
    top: 50%;
}

.left {
    left: 50%;
}

.full-height {
    height: 100%;
}

.transform {
    transform: translate(-50%, 10%);
}